In [1]:
import pandas as pd

In [2]:
consumidores = pd.read_csv("C:/Users/Danny/Desktop/Analisis tesis/Analisis exploratorio de datos/data/dataset-final-consumen.csv")
consumidores.head()

,directorio,per_sexo,per_edad,vive_padre_hogar,vive_madre_hogar,departamento,municipio,tipo_vivienda,servicio_energia,estrato,...,g_11_j_consumio_alguna_vez_heroina,g_11_j_anios_consumio_heroina,k_03_consumio_marihuana_12m,k_04_frecuencia_consumo_marihuana_12m,l_02_consumio_cocaina_12m,l_03_frecuencia_consumo_cocaina_12m,m_02_consumio_basuco_12m,m_03_frecuencia_consumo_basuco_12m,0_02_consumio_heroina_12m,0_03_frecuencia_consumo_heroina_12m
0,290,1,40,2,2,Guaviare,SAN JOSÉ DEL GUAVIARE,3,1,2.0,...,1,16.0,2.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN
1,535,2,23,2,2,Santander,PIEDECUESTA,2,1,2.0,...,1,17.0,1.0,4.0,1.0,3.0,1.0,2.0,1.0,2.0
2,827,1,30,2,2,Guaviare,SAN JOSÉ DEL GUAVIARE,1,1,1.0,...,1,20.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN
3,1535,1,34,1,1,Valle,CALI,1,1,1.0,...,1,24.0,1.0,5.0,1.0,5.0,1.0,5.0,1.0,2.0
4,1742,1,17,2,3,Caqueta,FLORENCIA,1,1,1.0,...,1,14.0,1.0,5.0,1.0,3.0,2.0,NaN,2.0,NaN

In [3]:
no_consumidores = pd.read_csv("C:/Users/Danny/Desktop/Analisis tesis/Analisis exploratorio de datos/data/dataset-final-no-consumen.csv")
no_consumidores.head()

,directorio,per_sexo,per_edad,vive_padre_hogar,vive_madre_hogar,departamento,municipio,tipo_vivienda,servicio_energia,estrato,...,g_11_j_consumio_alguna_vez_heroina,g_11_j_anios_consumio_heroina,k_03_consumio_marihuana_12m,k_04_frecuencia_consumo_marihuana_12m,l_02_consumio_cocaina_12m,l_03_frecuencia_consumo_cocaina_12m,m_02_consumio_basuco_12m,m_03_frecuencia_consumo_basuco_12m,0_02_consumio_heroina_12m,0_03_frecuencia_consumo_heroina_12m
0,2,2,62,2,2,Boyaca,TUNJA,1,1,2.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,2,64,3,3,Boyaca,TUNJA,1,1,2.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,2,46,2,2,Sucre,COROZAL,1,1,1.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,2,33,2,2,Cordoba,MONTERÍA,2,1,3.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,2,27,2,2,Cordoba,MONTERÍA,2,1,3.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_unido = pd.concat([consumidores, no_consumidores])
df_unido.head()

,directorio,per_sexo,per_edad,vive_padre_hogar,vive_madre_hogar,departamento,municipio,tipo_vivienda,servicio_energia,estrato,...,g_11_j_consumio_alguna_vez_heroina,g_11_j_anios_consumio_heroina,k_03_consumio_marihuana_12m,k_04_frecuencia_consumo_marihuana_12m,l_02_consumio_cocaina_12m,l_03_frecuencia_consumo_cocaina_12m,m_02_consumio_basuco_12m,m_03_frecuencia_consumo_basuco_12m,0_02_consumio_heroina_12m,0_03_frecuencia_consumo_heroina_12m
0,290,1,40,2,2,Guaviare,SAN JOSÉ DEL GUAVIARE,3,1,2.0,...,1,16.0,2.0,NaN,2.0,NaN,NaN,NaN,2.0,NaN
1,535,2,23,2,2,Santander,PIEDECUESTA,2,1,2.0,...,1,17.0,1.0,4.0,1.0,3.0,1.0,2.0,1.0,2.0
2,827,1,30,2,2,Guaviare,SAN JOSÉ DEL GUAVIARE,1,1,1.0,...,1,20.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN
3,1535,1,34,1,1,Valle,CALI,1,1,1.0,...,1,24.0,1.0,5.0,1.0,5.0,1.0,5.0,1.0,2.0
4,1742,1,17,2,3,Caqueta,FLORENCIA,1,1,1.0,...,1,14.0,1.0,5.0,1.0,3.0,2.0,NaN,2.0,NaN

In [5]:
df_unido.shape

(10149, 57)

In [6]:
df_shuffled = df_unido.sample(frac=1).reset_index(drop=True)
df_shuffled.head()

,directorio,per_sexo,per_edad,vive_padre_hogar,vive_madre_hogar,departamento,municipio,tipo_vivienda,servicio_energia,estrato,...,g_11_j_consumio_alguna_vez_heroina,g_11_j_anios_consumio_heroina,k_03_consumio_marihuana_12m,k_04_frecuencia_consumo_marihuana_12m,l_02_consumio_cocaina_12m,l_03_frecuencia_consumo_cocaina_12m,m_02_consumio_basuco_12m,m_03_frecuencia_consumo_basuco_12m,0_02_consumio_heroina_12m,0_03_frecuencia_consumo_heroina_12m
0,11207,1,19,2,2,Guaviare,SAN JOSÉ DEL GUAVIARE,2,1,2.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1180,2,51,2,1,Cordoba,MONTERÍA,1,1,1.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4398,1,52,3,3,Caqueta,FLORENCIA,1,1,2.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4399,2,39,1,1,Bolivar,CARTAGENA,1,1,5.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2619,2,27,1,1,Tolima,ESPINAL,1,1,2.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_shuffled.shape

(10149, 57)

In [8]:
df_shuffled.to_csv("C:/Users/Danny/Desktop/Analisis tesis/Analisis exploratorio de datos/data/dataset-final.csv", index=False)